
<div fxFlex fxLayoutAlign="center center" fxLayoutGap="8px">
  <div class="box-shadow-1 service card card-padding" >
      <div fxLayout="column wrap" fxLayoutAlign="start center" class="service-content card-padding">
          <div class="service-content--image">
              <img src="assets/images/photo1.jpg" alt="Ai toy">
          </div>
          <div class="service-content--text" fxLayout="column wrap" fxLayoutAlign="center center" style="text-align: center;">
              <h3 class="heading-tertiary"> AI Toy </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu quam sen purus rhonus palcent.</p>
          </div>
          <button matRipple mat-stroked-button color="primary" class="btn" >
              My Toy
          </button>
      </div>

      <div matRipple fxFlex="100" fxLayoutAlign="center center" class="service-footer">
        Order AI Toy
      </div>
  </div>
</div>
